<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Les recettes de Mamie & Co</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="w3-row">
<!-- Header -->
<header class="w3-display-container w3-col" style="width:100%;height:10%;">
  <img src="/images/table-garnie-2.jpg" alt="table-garnie" style="width:100%;">
  <div class="w3-display-middle w3-red w3-text-white w3-center" style="font-size:5vw;width:auto;">
      Les recettes de Mamie & Co
  </div>
</header>

<!-- Page content -->
<div class="w3-padding w3-col w3-row">

  <!-- Recette Section Title-->
  <div class="w3-container w3-padding-16 w3-col" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Recettes</h3>
  </div>
    
  <!-- Filter Section -->
  <div class="w3-col w3-padding 16" id="filter_menu">

      <div class="w3-row-padding" id="filters">
        <!-- Category filter list -->
        <div class="w3-row w3-col s6" id="cat-filters">
            <div class="w3-col l4">
                <input class="w3-check" type="checkbox" onclick="switchCatTag(this,'PLAT_PRINCIPAL')">
                <label>Plat principal</label>
            </div>
            <div class="w3-col l4">
                <input class="w3-check" type="checkbox" onclick="switchCatTag(this,'DESSERT')">
                <label>Dessert</label>
            </div>
            <div class="w3-col l4">
                <input class="w3-check" type="checkbox" onclick="switchCatTag(this,'SAUCE')">
                <label>Sauce</label>
            </div>
        </div>
        <!-- Family filter list -->
        <div class="w3-row w3-col s6" id="family-filters">
            <div class="w3-col l3">
                <input class="w3-check" type="checkbox" onclick="switchFamilyTag(this,'MAMIE')">
                <label>Mamie</label>
            </div>
            <div class="w3-col l3">
                <input class="w3-check" type="checkbox" onclick="switchFamilyTag(this,'ALCOVER')">
                <label>Alcover</label>
            </div>
            <div class="w3-col l3">
                <input class="w3-check" type="checkbox" onclick="switchFamilyTag(this,'BOUVIER')">
                <label>Bouvier</label>
            </div>
            <div class="w3-col l3">
                <input class="w3-check" type="checkbox" onclick="switchFamilyTag(this,'VANCAPP')">
                <label>Vancapp</label>
            </div>
        </div>
      </div>
  </div>    
  
  <!-- Recette List Section-->
  <div class="w3-row-padding w3-col">
    <div th:each="recipe : ${recipes}">


    <!-- Beginning of recipe-->  
    <div class="fiche-recette w3-third w3-container w3-margin-bottom w3-card"
         th:data-popupid="${recipe.id}"
         th:onclick="openModal(this.getAttribute('data-popupid'))"
         th:attr="tag-recette-cat=${recipe.category}, tag-recette-famille=${recipe.family}"  >
        <div class="w3-display-container w3-margin-top">
            <img th:src="@{https://recettes-de-mamie-assets.s3.us-east-2.amazonaws.com/{path}(path=${recipe.imageMini})}" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-display-topright">
                <span class="w3-tag w3-blue" th:text="${recipe.family.label}">Bouvier</span>
            </div>
            <div class="w3-display-topleft">
                <span class="w3-tag w3-red" th:text="${recipe.category.label}">Plat principal</span>
            </div>
        </div>
        
      <div class="w3-container w3-white">
        <p><b th:text="${recipe.title}">Lorem Ipsum</b></p>
      </div>
    </div>

    <!-- Beginning of modal -->
    <div th:id="${recipe.id}" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container">
          <div class="w3-display-container w3-margin-top">
            <img th:src="@{https://recettes-de-mamie-assets.s3.us-east-2.amazonaws.com/{path}(path=${recipe.image})}" alt="" style="width:100%">
            <div class="w3-display-bottomright">
                <span class="w3-tag w3-blue" th:text="${recipe.family.label}">Bouvier</span>
            </div>
            <div class="w3-display-bottomleft">
                <span class="w3-tag w3-red" th:text="${recipe.category.label}">Plat principal</span>
            </div>
          </div>
          <div class="w3-container w3-white">
            <h2><b th:text="${recipe.title}">Lorem Ipsum</b></h2>
            <a th:if="${recipe.recapSheet} != ''" th:href="${recipe.recapSheet}" target="_blank">Fiche pdf</a>
            <h5 th:if="${recipe.quantite} != ''"><u>Quantité:</u><span th:text="' ' + ${recipe.quantite}"></span></h5>
            <hr/>
            <div id="ingredients-lists">
                <h3><u>Liste des ingrédients:</u></h3>
                <div th:each="ingredientList : ${recipe.ingredientListCollection}">
                    <div>
                        <h5 th:if="${ingredientList.title} != ''" th:text="${ingredientList.title + ':'}"></h5>
                        <ul class="w3-ul">
                            <li th:text="${ingredient}" th:each="ingredient : ${ingredientList.ingredients}"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr/>
            <h3><u>Etapes:</u></h3>
            <div th:each="stepList : ${recipe.stepListCollection}">
                <div>
                    <h5 th:if="${stepList.title} != ''" th:text="${stepList.title + ':'}"></h5>
                    <ul class="w3-ul">
                        <li th:each="step, iStat : ${stepList.steps}">
                            <div class="w3-margin-bottom">
                                <span class="w3-badge w3-green" th:text="${iStat.count}"></span><span class="w3-margin-left" th:utext="${step.text}"/>
                            </div>
                            <div th:if="${step.image != ''}" class="w3-margin-bottom">
                                <img th:src="@{https://recettes-de-mamie-assets.s3.us-east-2.amazonaws.com/{path}(path=${step.image})}" alt="" style="width:100%">
                            </div>
                            <div th:if="${step.video != ''}">
                                <iframe width="100%" height="auto" th:src="${step.video}"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="chef-word-panel" class="w3-panel w3-border w3-round-xxlarge w3-serif w3-border-orange" th:if="${recipe.chefWord} != ''">
                <p><i th:utext="'&quot;' + ${recipe.chefWord} + '&quot;'">"Make it as simple as possible, but not simpler."</i></p>
            </div>
            <div th:if="${recipe.videos.size() != 0}">
                <h3><u>Vidéos:</u></h3>
                <div th:each="video, iStat : ${recipe.videos}" class="w3-center">
                    <iframe width="100%" height="auto"
                            th:src="${video.src}">
                    </iframe>
                    <p th:text="${video.title}"></p>
                </div>
            </div>

          </div>
          <span th:data-popupid="${recipe.id}"
                th:onclick="document.getElementById(this.getAttribute('data-popupid')).style.display='none'"
                class="w3-button w3-red w3-display-topright">&times;</span>
        </div>
      </div>
    </div>
    <!-- End of recipe-->
    </div>
    <div class="w3-col" id="no-recipes" style="display: none">
        <h3>Aucune recette correspondante à vos filtres</h3>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16 w3-col" >
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
</div>
</body>
</html>

<!-- JS Script Section. DO NOT TOUCH ! -->
<script type="text/JavaScript">

// Get the modal
var activeModal;

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == activeModal) {
        activeModal.style.display = "none";
    }
};

function openModal(modalId) {
    activeModal = document.getElementById(modalId)
    activeModal.style.display='block'
}

activeCatTagList=[];
activeFamilyTagList=[];
    
function switchCatTag(checkBox, tagName){
    
    if(checkBox.checked == 1){
        activeCatTagList.push(tagName);
    } else{
        removeCatTag(tagName);
    }
    showActiveRecipes();
    
}
    
function switchFamilyTag(checkBox, tagName){
    
    if(checkBox.checked == 1){
        activeFamilyTagList.push(tagName);
    } else{
        removeFamilyTag(tagName);
    }
    showActiveRecipes();
    
}
    
function removeCatTag(tagName){
    var index = activeCatTagList.indexOf(tagName);
 
    if (index > -1) {
        activeCatTagList.splice(index, 1);
    }
}
    
function removeFamilyTag(tagName){
    var index = activeFamilyTagList.indexOf(tagName);
 
    if (index > -1) {
        activeFamilyTagList.splice(index, 1);
    }
}
    
function showActiveRecipes(){
    let recipes = document.getElementsByClassName('fiche-recette');
    let noRecipeBlock = document.getElementById('no-recipes');
    noRecipeBlock.style.display = "none";
    
    if (activeCatTagList.length === 0 && activeFamilyTagList.length === 0){
        for(recipe of recipes){
            recipe.style.display = "block";
        }  
    } else{
        let noRecipe = true;
        for(recipe of recipes){
            if(mustBeDiplayed(recipe)){
                recipe.style.display = "block";
                noRecipe = false;
            } else {
                recipe.style.display = "none";
            }
        }
        if(noRecipe){
            noRecipeBlock.style.display = "block";
        }
    }
}
    
function mustBeDiplayed(recipe){
    let catOK = true;
    let familyOK = true;
    if(activeCatTagList.length !== 0){
        catOK = activeCatTagList.includes(recipe.getAttribute("tag-recette-cat"));
    }
    if(activeFamilyTagList.length !== 0){
        familyOK = activeFamilyTagList.includes(recipe.getAttribute("tag-recette-famille"));
    }
    return catOK && familyOK;
}

</script>
